/Users/oisinmccaffrey/Desktop/Masters/Bergkamp/.RData
/Users/oisinmccaffrey/Desktop/Masters/Bergkamp/.DS_Store
/Users/oisinmccaffrey/Desktop/Masters/Bergkamp/.Rhistory
/Users/oisinmccaffrey/Desktop/Masters/Bergkamp/about.html
